html {
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing {
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
  /* background-image: url("./assets/img/fondo-login.jpg");
  background-size: cover;
  background-position: center; */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landing-box {
  width: 50%;
  min-width: 420px;
  background-color: rgba(20, 124, 216, 0.3);
}
