@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.nav {
  width: 100%;
  height: 65px;
  position: absolute;
  line-height: 65px;
  text-align: center;
  background-color: transparent;
  box-shadow: inset 0px 74px 56px -37px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  margin-right: 10px;
  border-radius: 25px;
  font-weight: 500;
  color: white;
}

.sign-in {
  background-color: rgba(226, 109, 92, 0.7);
}

.sign-in:hover {
  background-color: rgba(226, 109, 92, 1);
}

.log-out {
  text-decoration: none;
  background-color: rgba(226, 109, 92, 0.7);
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  margin-right: 10px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  color: white;
}

.log-out:hover {
  background-color: rgba(226, 109, 92, 1);
}

.log-out:active {
  background-color: rgba(226, 109, 92, 1) !important;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
  padding: 10px;
}

.nav div.logo a:hover {
  color: #adadad;
  background-color: rgba(173, 173, 173, 0.5);
  padding: 10px;
  border-radius: 25px;
  transition: 0.2s;
}

.logo {
  width: 180px;
  margin-top: auto;
}

.form-search {
  position: relative;
}

.button-x {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 8%;
  height: 100%;
  width: 27px;
  background-color: rgba(0, 0, 0, 0.5);
  border: white;
}

.button-x:hover,
.button-x:active {
  background-color: rgba(0, 0, 0, 1) !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 100% !important;
    max-width: none;
  }

  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 20px;
    align-items: end;
    max-width: 280px;
  }

  .navbar-nav a {
    color: black;
  }
}
